// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.parallax img {
    object-fit: cover;
}

header {
    &.parallax-container {
        display: flex;
    }
    .title-box {
        width: 90%;
        margin: auto;
        max-width: 600px;
        text-align: center;
        color: #fff;
        img {
           width: 170px;
       }
    }
}
.header-bar.flex.attach.btm {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}
