
@media #{$large-and-up}{
    nav {
        position: fixed;
        z-index: 9;
        background: transparent;
        box-shadow: none;
        li {
            position: relative;

            a {
                background: $brand-color;
                &:hover {
                    color:#000;
                }
            }
            &:first-child:before, &:last-child:after {
                position: absolute;
                content: "";
                display: block;
                width: 100px;
                height: 100%;
                top: 0;
                border: solid #00b3b4;
                border-width: 32px 50px;
                border-bottom-color: transparent;
                transition: .5s ease;
            }
            &:first-child:before {
                right: 100%;
                border-left-color: transparent;
            }
            &:last-child:after {
                left: 100%;
                border-right-color: transparent;

            }
        }
        ul:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            height: 100%;
            background: #00b3b4;
            transition: .5s ease;
            box-shadow: 0 0 5px #0008;
        }

        &.scrolling ul:before {
            left: 0;
            right: 0;
        }

        &.scrolling li:first-child:before {
            right: 1000%;
            opacity: 0;
        }

        &.scrolling li:last-child:after    {
            left: 1000%;
            opacity: 0;
        }
    }
}
