@for $i from 1 through 12 {
  .grid-#{$i} {
    display: grid;
    grid-template-columns: repeat($i,1fr);
  }
  .span-col-#{$i} {
    grid-column: span $i;
  }
}
.gap {
    grid-gap: 2em;
}
.thin-gap {
    grid-gap: 1em;
}
.thick-gap {
    grid-gap: 3em;
}


@media #{$medium-and-up}{

  @for $i from 1 through 12 {
    .grid-md-#{$i} {
      display: grid;
      grid-template-columns: repeat($i,1fr);
    }
    .span-col-md-#{$i} {
      grid-column: span $i;
    }
  }

}

  @media screen and (max-width:794px){

    @for $i from 1 through 12 {
      .grid-sm-#{$i} {
        display: grid;
        grid-template-columns: repeat($i,1fr);
      }
      .span-col-sm-#{$i} {
        grid-column: span $i;
      }
    }


  // section .grid-3 {
  //     grid-template-columns: repeat(2,1fr);
  // }
  //
  // .span-col-3 {
  //     grid-column: span 2!important;
  // }
}
